<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CN.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>FR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SitStandTimer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E3EDEAF2D089F7000E83C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E3EDEC02D089F7100E83C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E3EDECA2D089F7100E83C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EA878D12D3EB5EE000C2B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EA878E62D3EB64C000C2B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
